@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Jost", sans-serif !important;
}

:root {
    --primary-dark: #113154;
    --success: #178545;
}

.feedback {
    background-color: #e8eef8;
}

.text {
    background-color: #fff;
    border: 1px solid #666;
}

.alert {
    margin: 0;
    padding: 8px 16px;
    color: #2c4678;
    border-radius: 4px;
}

header {
    background-color: #e1f4fd;
    padding: 16px 0;

    .col {
        margin-bottom: 16px;
    }

    strong {
        color: #113154;
    }
}

.container-main {
    border-radius: 8px;
    border: 1px solid #113154;
    padding: 32px;
}

.container-body {
    gap: 32px;
}

main {
    h1,
    h2 {
        color: #113154;
    }

    h1 {
        font-size: 32px;
        font-weight: 500;
    }

    h2 {
        text-align: center;
        font-size: 26px;
        margin: 16px 0;
        font-weight: 400;
    }

    p {
        font-size: 20px;
        color: #333;
    }
}

.nav {
    justify-content: space-between;
}

.border-primary,
.btn-primary {
    border-color: var(--primary-dark) !important;
}

.btn-primary,
.btn-secondary {
    svg path {
        stroke: white !important;
    }
}


.btn.border-primary {
    color: var(--primary-dark) !important;
    svg path{
        stroke: var(--primary-dark);
    }
}

.btn-primary {
    background-color: var(--primary-dark);

    &:hover {
        background-color: black !important;
        border-color: black !important;
    }
}

.border-secondary,
.btn-secondary {
    border-color: #29c3f1 !important;
}

.btn.border-secondary {
    color: #29c3f1;
}

.btn-secondary {
    background-color: #29c3f1;

    &:hover {
        background-color: var(--primary-dark) !important;
        border-color: var(--primary-dark) !important;
    }
}
.nav {
    padding: 1em 0;
}

.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0;

    color: var(--primary-dark);

    .number {
        background-color: var(--success);
        color: white;
        font-weight: 700;
        display: flex;
        width: 32px;
        height: 32px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 128px;
        font-size: 14px;

        span {
            display: none;
        }
    }
}

.router-link-active {
    .number {
        background-color: var(--primary-dark);
    }
}

.router-link-active,
.nav-item:has(.router-link-active) ~ .nav-item {
    svg {
        display: none;
    }

    span {
        display: block !important;
    }
}

.nav-item:has(.router-link-active) ~ .nav-item {
    .number {
        border: 1px solid var(--primary-dark);
        color: var(--primary-dark);
        background-color: #fff;
    }
}

.btn {
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 4px;
}
